<h2>Eventos</h2>
<hr>
<div action="" class="form-inline">
  <div class="form-group mb2">
    <input [(ngModel)]="filterString" type="text" class="form-control mr-2" placeholder="buscar"/>
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>{{filterString}}</h3>
<table class="table table-striped mt-2" >
  <thead class="thead-dark">
    <tr>
      <th><button (click)="handleClickShowImage()" class="btn btn-outline-light  btn-sm">{{showImage ? "Mostrar" : "Esconder"}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td><img src="/assets/{{evento.imagemUrl}}"
        alt="{{evento.imagemUrl}}"
         [style.width.px] = "widthImg"
         [style.margin.px] = "marginImg"
         [isAnimated]="true"
         [collapse]="showImage"/></td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>Editar/Excluir</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr >
      <td colspan="8" class="text-center"><h4>Nenhum evento encontrado</h4></td>
    </tr>
  </tfoot>
</table>


